<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In eveniet,
        atque consectetur ea at vitae quasi expedita consequatur aliquid eaque!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In eveniet,
        atque consectetur ea at vitae quasi expedita consequatur aliquid eaque!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In eveniet,
        atque consectetur ea at vitae quasi expedita consequatur aliquid eaque!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
